<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redirect non-www to www
    RewriteCond %{HTTP_HOST} ^citizentestprep\.ca [NC]
    RewriteRule ^(.*)$ https://www.citizentestprep.ca/$1 [L,R=301]
    
    # Existing rule to redirect all traffic to the public/ folder
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
