.ck-editor__editable_inline {
    min-height: 500px; /* Set the desired height */
}

/* ckeditor-styles.css */
.ck-content h1 {
    font-size: 2.25rem; /* text-3xl */
    font-weight: 700; /* font-bold */
    margin-bottom: 1rem;
}

.ck-content h2 {
    font-size: 1.875rem; /* text-2xl */
    font-weight: 600; /* font-semibold */
    margin-bottom: 0.75rem;
}

.ck-content h3 {
    font-size: 1.5rem; /* text-xl */
    font-weight: 500; /* font-medium */
    margin-bottom: 0.5rem;
}

/* Optionally for the toolbar */
.ck-toolbar .ck-button__label {
    font-size: inherit;
    font-weight: inherit;
}
